services:
  db:
    build: ./db
    environment:
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3307:3307"
      
  zookeeper:
    image: zookeeper:3.9.3
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181
  
  kafka:
    image: confluentinc/cp-kafka:7.8.0
    depends_on:
      - zookeeper
    ports:
      - 29092:9092
    environment:
      KAFKA_CLUSTER_ID: "ADMINCLUSTER123"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  backend:
    build: ./backend
    ports:
      - "8001:8001"
    depends_on:
      - kafka
      - db

  # server:
  #   build: ./raspberry_server
  #   ports:
  #     - "8080:8080"
  #   volumes:
  #     - /home/admin/smart_house/smart_house/raspberry_server/data:/raspberry_server/data
  #   # devices:
  #   #   - '/dev/video0:/dev/video0'
  #   #   - '/dev/gpiomem:/dev/gpiomem'
  #   # privileged: true
  #   depends_on:
  #     - backend

  r_server:
    build: ./rr_server
    ports:
      - "5000:5000"
    volumes:
      - /home/admin/smart_house/smart_house/raspberry_server/data:/raspberry_server/data
    # devices:
    #   - '/dev/video0:/dev/video0'
    #   - '/dev/gpiomem:/dev/gpiomem'
    # privileged: true
    depends_on:
      - backend
      - kafka

  monitoring:
    build: ./monitoring
    ports:
      - "9999:9999"
    depends_on:
      - backend
      - kafka

  motion:
    build: ./motion
    ports: 
      - "8881:8881"
    depends_on:
      - backend
      - kafka

  light:
    build: ./light
    ports:
      - "8888:8888"
    # devices:
    #   - '/dev/gpiomem:/dev/gpiomem'
    privileged: true
    depends_on:
      - backend
      - kafka
