.full_screen{
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
    height:90%; 
    border:none; 
    margin:0; 
    padding:0; 
    overflow:hidden; 
    z-index:999999;
    background-color: black;
}

.all{
    background-color: black;
}

.Big_div{
    width: 100%;
    height: auto;
}