.logout{
    /* position: absolute;
    right:    0;
    top:      0; */
    margin-top: 10px;
    background-color: black;
    width: 95%;
    height: 5%;
    position: relative;

}

.logout-container{
    background-color: rgb(16, 16, 16);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: auto;
}